<!DOCTYPE html>
<html>

<head>
    <title>Real Estate Advisor</title>
    <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
    <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="./static/lib/css/dc.css">
    <link rel="stylesheet" href="./static/css/custom.css">
    <link rel="stylesheet" href="./static/wjp/css/wjp.css">
</head>

<body class="application">
    <!--  Header -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Real Estate Advisor</a>
            </div>
        </div>
    </div>

    <!-- Container -->
    <div class="container-fluid">
        <!-- (1) US Map: usmap_svg -->
        <div class="col-sm-6">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Real Estate Rating Choropleth
                </div>
                <div class="chart-stage">
                    <svg id="usmap_svg"></svg>
                </div>
            </div>
        </div>
        <!-- (2) Region: region_svg -->
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Region
                </div>
                <div class="chart-stage">
                    <svg id="region_svg">
                        <!-- Region Name -->
                    </svg>
                </div>
            </div>
        </div>
        <!-- (3) Rating: rating_svg -->
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Real Estate Ratings
                </div>
                <div class="chart-stage">
                    <svg id="rating_svg">
                        <!-- Region Rate -->
                    </svg>
                </div>
            </div>
        </div>
        <!-- (4) Prediction Line Chart: prediction_chart_div -->
        <div class="col-sm-6">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Real Estate Predictions
                </div>
                <div class="chart-stage">
                    <svg id="prediction_chart_svg"></svg>
                </div>
            </div>
        </div>
        <!-- (5) Stock List Bubble: top_stocks_svg -->
        <div class="col-sm-6">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Local Stocks Full List
                </div>
                <div class="chart-stage">
                    <div id="poverty-level-row-chart">
                        <svg id="top_stocks_svg"></svg>
                    </div>
                </div>
            </div>
        </div>
        <!-- (6) Stock Line Chart: top_stocks_svg -->
        <div class="col-sm-6">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Local Stocks
                </div>
                <div class="chart-stage">
                    <svg id="stock_history_svg"></svg>
                </div>
            </div>
        </div>

        <script src="./static/lib/js/jquery.min.js"></script>
        <script src="./static/lib/js/bootstrap.min.js"></script>
        <script src="./static/lib/js/crossfilter.js"></script>
        <script src="./static/lib/js/d3.js"></script>
        <script src="./static/lib/js/dc.js"></script>
        <script src="./static/lib/js/queue.js"></script>
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
        <script src="https://d3js.org/topojson.v2.min.js"></script>
        <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
        <script src="./static/lib/js/keen.min.js"></script>

        <script src="./static/wjp/js/wjp.js"></script>

</body>

</html>