text {
    font: 20px sans-serif;
    text-anchor: middle;
}

#counties .active {
    stroke: orangered;
    stroke-width: 2.5px;
}

.axis path,
.axis line {
    display: none;
    fill: none;
    stroke: #000;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

#counties {
    fill: none;
}

#states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}